<h1>Welcome to Draw With Me</h1>

<h3>A drawing tutorial application!</h3>

<p>Please select your drawing skill level.</p>

<ul>
	<% @possible_skills.each do |s| %>
   	<li>
			<%= link_to s.name, :controller => "skills", :action => "select_category", :id => s.id %>
		</li>
	<% end %>
</ul>