<div data-role="header">
  <h1>&nbsp;Subcategories of [ CATEGORY NAME HERE ] </h1>
</div>

<h3>&nbsp;&nbsp;What would you like to draw?</h3>

<div data-role="content">
  <ul data-role="listview">
    <% @subcategories.each do |c| %>
    <li>
      <%= link_to c.name, :controller => "skills", :action => "show_drawing", :id => c.id %>
    </li>
    <% end %>
  </ul>
</div>

<br><br>

<center>
	<h6>
		Created by Nick Powell
	</h6>
</center>
