<div data-role="header">
    <h2 class="logo">
    	  How &nbsp;<span class="red_header">2</span> &nbsp;Draw
    </h2>
</div>

<h3 class="mleft">
	Welcome <%= session[:users_skill_level] %>!
</h3>

<h2 class="mleft">
	What would you like to draw?
</h2>

<div data-role="content">
  <ul data-role="listview">
    <% @categories.each do |c| %>
    <li>
	  <%= image_tag("#{c.name.downcase}.png", :height => '38', :width => '38', :class => 'category_icon') %>
	  <%= image_tag("#{session[:users_skill_level].downcase}.png", options = {:height => '38', :width => '38', :class => 'skill_icon'} ) %>	  
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <%= link_to c.name, :controller => "skills", :action => "select_subcategory", :id => c.id %>
    </li>
    <% end %>
  </ul>
</div>

<br><br>

<center>
	<h6>
		Created by Nick Powell
	</h6>
</center>
