<div data-role="header">
  <h1 class="logo">
    How &nbsp;&nbsp;<span class="red_header">2</span> &nbsp;&nbsp;Draw
	</h1>
</div>

Drawings of [ CATEGORY / SUBCATEGORY NAME HERE ]

<h3>&nbsp;&nbsp;&nbsp;What would you like to draw?</h3>

<div data-role="content">
  <ul data-role="listview">
    <% @drawings.each do |d| %>
    <li>
      &nbsp;&nbsp;&nbsp;<%= link_to d.name, d.views %>
    </li>
    <% end %>
  </ul>
</div>

<br><br>

<center>
  <h6>
    Created by Nick Powell
  </h6>
</center>
