/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.red_header {
  color:red;	 
  font-size: 68px;
}

.home_button {
  color:white;	 
  font-size: 12px;
  margin-left: 275px;
  margin-top: 5px;
  a:visited {color:#FFFFFF;}
  a:link {color:#FFFFFF;}      
  a:visited {color:#FFFFFF;}  
  a:hover {color:#FFFFFF;}  
  a:active {color:#FFFFFF;} 
}

.logo {
 font-family: 'Berkshire Swash', cursive;
 text-shadow: 2px 2px 2px #4099ff;
 font-size: 48px;
}

#subhead { text-align: center; }

#calltoaction { 
  text-align: center; 
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

.mleft { 
  margin-left: 10px;
}

.small {
  margin-left: 10px;
  font-size:14px;
}

